<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="style.css" rel="stylesheet">
    <script src="angular.min.js"></script>
    <script src="tutorial.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-app="ticTacToe">
    <div>
     <h1>Tic Tac Toe</h1>
    </div>

    <div ng-controller="GmaeController">
      <div>
        <p>
          <span>GAME STATUS:</span> <span>{{win}}</span>
        </p>
      </div>

      <div>
        <button ng-show="win" ng-click="newGame()">NEW GAME</button>
      </div>

      <div ng-hide="marker">
        CHOOSE YOUR MARKER:
        <select ng-model="marker">
          <option>{{markerX}}</option>
          <option>{{markerO}}</option>
        </select>
      </div>

      <div ng-show="marker">
        <div>
          <p>
            <span>YOUR MARKER:</span> <span>{{marker}}</span>
          </p>
        </div>
        <table>
          <tr>
            <td id="cell1" ng-click="makeTurn(1)"><div>{{diagonalMarks.mark1}}</div></td>
            <td id="cell2" ng-click="makeTurn(2)"><div>{{crossMarks.mark2}}</div></td>
            <td id="cell3" ng-click="makeTurn(3)"><div>{{diagonalMarks.mark3}}</div></td>
          </tr>
          <tr>
            <td id="cell4" ng-click="makeTurn(4)"><div>{{crossMarks.mark4}}</div></td>
            <td id="cell5" ng-click="makeTurn(5)"><div>{{mark5}}</div></td>
            <td id="cell6" ng-click="makeTurn(6)"><div>{{crossMarks.mark6}}</div></td>
          </tr>
          <tr>
            <td id="cell7" ng-click="makeTurn(7)"><div>{{diagonalMarks.mark7}}</div></td>
            <td id="cell8" ng-click="makeTurn(8)"><div>{{crossMarks.mark8}}</div></td>
            <td id="cell9" ng-click="makeTurn(9)"><div>{{diagonalMarks.mark9}}</div></td>
          </tr>
        </table>
      </div>
    </div>


  </body>
</html>
